.ff-candara {
    font-family: 'candara';
}


.p5 {
    padding: 5 !important;
}

.pt5 {
    padding-top: 5 !important;
}

.pb5 {
    padding-bottom: 5 !important;
}

.pl5 {
    padding-left: 5 !important;
}

.pr5 {
    padding-right: 5 !important;
}

.bg {
    background-color: #F7FAFD;
}

.px20 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tbold {
    font-weight: bold;
}

.f100 {
    font-weight: 100;
}

.f200 {
    font-weight: 200;
}

.f300 {
    font-weight: 300;
}

.f400 {
    font-weight: 400;
}

.f500 {
    font-weight: 500;
}

.f600 {
    font-weight: 600;
}

.f700 {
    font-weight: 700 !important;
}

.f700e {
    font-weight: 700 !important;
}

.fbold {
    font-weight: bold;
}

.b-r-5 {
    border-radius: 5px;
}

.b-r-10 {
    border-radius: 10px;
}

.b-r-15 {
    border-radius: 15px;
}

.b-r-20 {
    border-radius: 20px;
}

.f10px {
    font-size: 10px;
}

.f12px {
    font-size: 12px;
}


.f1rem {
    font-size: 1rem;
}

.f15rem {
    font-size: 1.5rem;
}

/* b-r-50{
  border-radius: 50%;
} */
.height {
    height: 0px !important;
}


.ul-b-10px li {
    margin-bottom: 10px;
}

.content_center {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.text-justify {
    text-align: justify;
}

.bgclor {
    background-color: rgb(21 20 64 / 62%);
    width: 100%;
    height: 100%;
}

.bg-primary {
    background-color: #000040 !important;
    border: #000040 !important;
}

.text-secondary {
    color: #FC9CB1 !important;
}

.f-size2 {
    font-size: 2rem;
}

.f-size25 {
    font-size: 2.5rem;
}

.shadow-black {
    /* box-shadow: 0px 0px 9px -2px #0000007a; */
    box-shadow: 0px 0px 13px -4px #0000007a !important;
}

.tfsc {
    transform: scale(1.1);
}

.card_bg {
    background-color: #F7FAFD;
}

.img_responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


.transition {
    overflow: hidden;
    transition: transform .5s all ease-in-out;

}

.flax {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconimg img, .iconimg i {
    width: 50px;
    height: 50px;
}

.nav-top {
    padding-top: 75px;
}
