@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div#loader {
    display: flex;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: 999999999999999999;
    justify-content: center;
    align-items: center;
    background-color: #06091aed;
}

h2#loader-text {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 3rem;
    color: rgb(1 3 63);
    text-transform: uppercase;
    line-height: normal;
}

h2#loader-text span:nth-child(1) {
    -webkit-text-stroke: 0.1vw rgb(255 255 255);
    color: rgb(255 255 255);
    font-size: 3rem;
}

h2#loader-text span:nth-child(2) {
    -webkit-text-stroke: 0.1vw #f91e4e;
    color: #f91e4e;
}

h2#loader-text:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #f91e4e;
    border-right: 2px solid #fff;
    overflow: hidden;
    animation: loader-text 1.5s linear infinite;
}

@keyframes loader-text {
    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 50%;
    }
}
