@media (min-width: 1920px) {


    .rotate_width {
        width: 1199px;
        margin: 0 auto;
    }

    .main {
        margin-left: -90px;
    }

    .main2 {
        margin-right: -90px;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        width: 1920px;
    }

    .main_nav {
        max-width: 1320px;
        padding: 0;
    }
}

@media (max-width: 1199px) {


    .touch img {
        margin: auto;
    }

    .meet_ledeership .leadership_image img {
        width: 180px;
        object-fit: inherit;
        height: auto !important;

    }

    .leadership_card .right .card-body {
        right: 140px;
    }

    .leadership_card .card-body h6 {
        font-size: 1.2rem !important;
    }

    div.book_meeting img {
        width: 15rem;
        margin-left: 0;
    }

}

@media (min-width: 992px) {

    .navbar-toggler {
        display: none;
    }

    /* .navbar-toggler2 {
        display: none;
    } */


    .dropdown-menu li .dropdown-item {
        padding: 13px;
    }

    #demo-timegrid {
        height: 90%;
    }

    .mbsc-datepicker-tab.mbsc-datepicker-tab-calendar.mbsc-ios.mbsc-datepicker-tab-active {
        margin-right: 0px;
    }


    .navbar-nav hr {
        display: none;
    }

    .navbar-nav .dropdown-menu hr {
        display: block;
        margin: 0px;
    }

    .navbar-nav .dropdown-menu .d {
        display: none;
    }

    /* .navbar-nav .dropdown-menu li {
        border-left: 2px solid red;
        border-radius: 0;
        margin: 2px;
    } */

    .navbar-nav .dropdown-menu {
        box-shadow: 0px 0px 22px -7px #0000007a;
    }


    .navbar-expand-lg .navbar-nav .dropdown-menu {
        top: 3rem;
    }



    /* .navbar-nav .dropdown-menu hr {
        display: none;
    } */

    /* .navbar-nav ul.dropdown-menu:before {
        content: "^";
        position: absolute;
        top: -20px;
        left: 20%;
        font-size: 29px;
        color: #3b3b54;
        font-weight: bold;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    } */

    video {
        width: 100%;
        height: auto;
        z-index: 1;
    }


    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }

    .mission .mission_content {
        margin-left: -80px;
    }

    .meet_ledeership .position_set {
        justify-content: space-around;
    }

    /* .meet_ledeership .position_end {
        justify-content: end;
    } */

    .casestudy .slick-initialized .slick-slide {
        margin-left: 35px;
        margin-right: 35px;
        width: 270px;
    }

}

@media (max-width: 991px) {
    br {
        display: none;
    }

    .client_info {
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 15px;
        margin-left: 0px !important;
    }

    .details_main {
        margin-left: 0%;
    }

    .rotate_width {
        grid-template-columns: auto;
    }

    .content_img {
        grid-row: 1 / 2;
    }

    .slider_content {
        height: auto;
    }

    .navbar-nav .dropdown-menu {
        margin: 0;
        display: block;
        border: 0;
        padding: 0;
        box-shadow: 0px 0px 22px -7px #fff !important;
        text-align: center;
    }

    .navbar .navbar-brand, .navbar .navbar-toggler {
        margin-bottom: -9px;
        border: none;
        padding: o;
        margin: 0;
        padding: 0;

    }

    .navbar-nav .dropdown-item:focus, .navbar-nav .dropdown-item:hover {
        transform: scale(1);
    }

    .navbar-nav .dropdown-menu .dropdown-item {
        font-size: 1.2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .dropdown-menu li:hover::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 0px;
        height: px;
        background: red;
        overflow: hidden;
        /* top: 54px; */

    }



    .dropdown-menu li.active::before {
        display: none;
    }

    /* .nav-item .nav-link.active {

        color: #000040;
    } */

    .dropdown-menu .active a {
        color: #f8073b;
    }



    .navbar-nav .nav-item:hover .nav-link, .navbar-nav .show>.nav-link {
        /* color: #6d6db9; */
        /* color: #FD6385; */
        margin-top: 0px;
    }

    .navbar-nav .contact {
        background: #00004000;
        border-radius: 0px;
        padding: 0;
        color: #000040 !important;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-nav .nav-item .contact .icon {
        display: none;
    }

    .navbar-nav .nav-item hr {
        display: none;
    }

    .navbar .nav-link .word_arrow {
        display: none;
    }

    .navbar-nav .dropdown-menu .collapse {
        padding-bottom: 20px;
    }

    #demo-timegrid {
        height: 90%;
    }

    .navbar .nav-link {
        font-size: 1.2rem;
        padding: 0px;
    }

    .navbar .nav-link.active::after {
        display: none;
    }

    .bg-video-wrap {
        height: auto;
    }

    video {
        width: 100%;
        height: auto;
    }

    video {
        min-width: 0;
        min-height: 0;
        z-index: 1;
    }

    .bg-video-wrap {
        position: relative;
        overflow: hidden;
        margin-top: 45px;
        /* max-height: 100%;
        max-width: 100%; */
        /* background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover; */
    }

    .bg-video-wrap .slidcont {

        height: 50%;
    }

    .contant {
        text-align: center;
    }

    .wrapper div span::before {
        margin: auto;
    }



    .slick-prev, .slick-next {
        width: 25px;
        height: 25px;
    }

    .mline {
        border-bottom: 1px solid #bcbec0;
        padding-bottom: 12px;
    }

    .navbar-collapse {
        margin-top: -2px;
        background-color: #fff;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0px 2px 17px #00000040;
    }

    /* .nav-item{
            border-bottom: 1px solid;
        } */
    /* .dropdown-menu {
        background-color: #F7FAFD !important;
        display: block;
        border: none;
        text-align: center;
    } */

    .navbar-nav {
        padding: 25px;
    }

    .navbar-toggler-icon {
        width: 4em;
        height: 3em;

    }

    .dropdown-toggle::after {
        display: none;
    }



    .mission .mission_content.card {
        width: 80%;
        margin: auto;
        margin-top: -60px;
        height: 100%;
    }

    /* career */


    .leadership_card .card-body {
        right: -130px;
    }

    .meet_ledeership .position_set {
        justify-content: start;
    }

    .meet_ledeership .position_end {
        justify-content: end;
    }


    .job-list-item {
        flex-direction: column;
        align-items: stretch;
        /* pointer-events: none; */
    }

    .job-list-item .middle {
        border-left: none;
        line-height: 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .job-list-item .right button {
        margin-top: 10px;
    }

    .job-list-item .left p {
        margin-bottom: 20px;
    }

    /* career */
    .word_card {
        padding-bottom: 30px;
    }

    .word_card .card {
        width: 80%;
        margin-left: unset;
        margin: 0 auto;
    }




    .word_card .card.right {
        width: 80%;
        margin-left: unset;
        margin: 0 auto;
    }



    .work .card a {
        position: relative;
        left: 40%;
        bottom: -80px;
        font-size: 1.2rem;
        margin-bottom: 10px;
        width: 25%;
        /*
        height: 33px; */
        font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
        ;
        /* display: flex;
        align-items: center;
        justify-content: center; */

    }

    .work .card.right a {
        position: relative;
        left: 50%;
        bottom: -80px;
        font-size: 1.2rem;
        margin-bottom: 10px;
        /* width: 100px;
        height: 33px; */
        font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
        ;
        /* display: flex;
        align-items: center;
        justify-content: center; */


    }

    .work .card a:hover {
        left: 42%;
        color: rgb(241, 53, 53);
    }

    .work .card.right a:hover {
        left: 42%;
        color: rgb(241, 53, 53);
    }

    .work .card.right a::before {

        display: none;

    }

    .work .card.right a::after {
        font-family: "Font Awesome 5 Free";
        content: "\f061";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;

    }

    .meet_ledeership .leadership_image img {
        width: 180px;
        object-fit: inherit;
        height: auto !important;
    }

    .job-details {
        grid-template-columns: 100%;
    }

    .job-details_right {
        grid-template-columns: 100%;
    }

    .job-details_right .img {
        grid-row: 1/-1;
    }

    .details p {
        font-size: 1rem;
    }


    .details ul li {
        font-size: 1rem;
    }

}




@media screen and (min-width: 768px) {
    .mbsc-timegrid-row {
        display: grid;
    }

    .grid-casestudy .left_image {
        grid-row: 1/-1;

    }

    .navbar-toggler-icon {
        width: 2em;
        height: 3em;
    }
}

@media screen and (max-width: 768px) {

    /* index slider  */


    .round .wrapper .item.active img {
        width: 150px;
        height: 150px;
        margin-left: 30px;
    }

    .round2 .wrapper2 .item2.active img {
        width: 150px;
        height: 150px;
        margin-right: 30px;
    }

    .round2 .wrapper2 .item2 p {
        top: 200px;
        margin-right: 200px;
    }

    .round .wrapper .item p {
        top: 200px;
        margin-right: 200px;
    }

    .bg-video-wrap .slidcont h2, .hire_team h2, .contact_us h2 {
        font-size: 1.8rem;
        letter-spacing: 3px;
        line-height: 3rem;
    }

    .bg-video-wrap .slidcont h5, .hire_team h5 {
        font-size: 1.2rem;
        margin-top: 10px;
        letter-spacing: 1px;

    }

    /* index slider  */
    .navbar .navbar-brand, .navbar .navbar-toggler {
        margin-bottom: 10px;
    }

    #demo-timegrid {
        height: 90%;
    }

    div.book_meeting {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    div.book_meeting img {
        margin-top: 30px;
    }

    section.client_think {
        flex-direction: column;
    }

    div.card_client {
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
    }

    div.card_content {
        width: 100%;
    }

    div.client_video {
        width: 70%;
    }

    div.client_image {
        height: 60px;
        width: 60px;
        margin-left: 0;
        z-index: 10;
        position: inherit;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        margin-top: -23px;

    }

    .client_info {
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 15px;
        margin-left: 0px !important;
    }

    /* div.client_image {

        position: inherit;

    } */

    .csaction {
        display: block;
    }

    .mbsc-datepicker-tab-timegrid.mbsc-datepicker-tab {
        -moz-box-align: start;
        align-items: flex-start;
        overflow: auto;
        position: relative;
        width: 100%;
    }

    .grid-casestudy {
        grid-template-columns: repeat(1, 1fr);

    }

    .grid-casestudy .right_image {
        grid-row: 1/-1;

    }

    .grid-casestudy .cs_content {
        width: 70%;
        margin: 0 auto;
    }

    .meet_ledeership .position_end {
        margin-top: 30px;
    }

    .job-list-item:hover {
        border-left: 0px solid #FA2654;
    }

    .job-list-item .right button:hover {
        background-color: #FA2654;
    }

    .job-list-item:hover .middle {
        border-left: 2px solid #FA2654;
    }

    .navbar-toggler-icon {
        width: 2em;
        height: 3em;
    }

    .heading_bottom div {
        border-right: 0px solid #a59898;
    }
}

@media (max-width: 576px) {
    * {
        font-size: 65.5%;
        /* display: none; */
    }

    .nav-top {
        padding-top: 50px;
    }

    .leadership_card .card-body {
        width: 160px;

    }

    .leadership_card .right .card-body {
        right: 170px;
    }

    p, ul li {
        font-size: 1.6rem !important;
        line-height: 2.1rem;
    }

    .footer p, .footer ul li, .footer, strong {
        font-size: 1.6rem !important;
    }

    .root {
        font-size: 1.1rem;
    }

    .devs {
        font-size: 1.1rem;
    }

    .bgclor {

        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-toggler-icon {
        width: 5em;
        height: 5em;
    }

    .navbar {
        height: 50px !important;
    }

    .navbar-brand img {
        width: 145px !important;
    }

    .dropdown-item:hover {
        background-color: #fff !important;
        color: black;
    }

    /* word with */
    .word_with {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* #demo-timegrid {
        height: 90%;
    } */

    .word_with .row div img {
        width: 35px;
        height: 35px;
    }

    .word_with .row div h1 {
        font-size: 14px;
        font-weight: 500;
    }


    /* word with */
    .meet_ledeership .position_set {
        justify-content: flex-start !important;
        margin-bottom: 20px !important;
    }

    .meet_ledeership .position_end {
        justify-content: flex-end !important;
    }

    .leadership_card p {
        font-size: 1.3rem !important;
    }

    div.client_video {
        width: 70%;
        height: 160px;
    }

    .mission .mission_content.card {
        width: 80%;
        margin: auto;
        margin-top: -60px;
        height: 100%;
    }

    .mission_content p {
        font-size: 1.2rem;
    }

    .mission_content h5 {
        font-size: 1.5rem;
    }

    .member span, .member p {
        font-size: 1.6rem;
    }

    .slider h4, .slider p {
        font-size: 1.3rem !important;
    }

    footer .wrapper p,
    footer .wrapper ul li a,
    footer .wrapper p strong {
        font-size: 1.6rem;

    }

    footer .wrapper {
        margin-bottom: 20px;
    }

    footer .wrapper div {
        margin-bottom: 1rem !important;
    }

    .book_meeting_banner {
        height: 200px;
    }

    div.book_meeting {
        height: 200px;
    }

    div.book_meeting span {
        font-size: 1.1rem;

    }

    .csaction {
        display: block;
    }

    .cover {
        height: 50vh;

    }

    .mbsc-datepicker-tab.mbsc-datepicker-tab-calendar.mbsc-ios.mbsc-datepicker-tab-active {
        margin-right: 0px;
        height: 40%;
    }

    .contact .toggle_button .nav-item .nav-link.left {

        width: 12rem !important;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.1rem;
    }

    .contact .toggle_button .nav-item .nav-link.right {

        width: 12rem !important;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.1rem;
    }

    .contact_us p {
        font-weight: 400;
        line-height: 2rem;
    }

    /*  */



    .mbsc-calendar-controls {
        font-size: 3em !important;
    }

    .mbsc-calendar-cell-inner {
        font-size: 3rem !important;
    }

    .mbsc-ios.mbsc-datepicker .mbsc-highlighted .mbsc-calendar-day-text, .mbsc-ios.mbsc-datepicker .mbsc-hover .mbsc-calendar-day-text, .mbsc-ios.mbsc-datepicker .mbsc-range-hover-end .mbsc-calendar-day-text, .mbsc-ios.mbsc-datepicker .mbsc-range-hover-start .mbsc-calendar-day-text, .mbsc-ios.mbsc-datepicker .mbsc-selected .mbsc-calendar-day-text {
        font-size: 2rem;

    }

    .mbsc-datepicker-tab-wrapper .mbsc-datepicker-tab {
        width: 100%;
        /* height: 350px; */
    }



    /* .mbsc-datepicker-tab-wrapper .mbsc-datepicker-tab {
        height: auto;
    } */
    .mbsc-ios.mbsc-timegrid-item.mbsc-selected, .mbsc-ios.mbsc-timegrid-item:focus, .mbsc-ios.mbsc-timegrid-item:hover {
        font-size: .600em;

    }

    .meet_ledeership .leadership_image img {
        width: 200px;
        object-fit: inherit;
        height: auto !important;
    }

    .casestudy .slider_text {
        width: 80%;
        margin: auto;
    }

    .grid-casestudy .cs_content {
        width: 90%;
        margin: 0 auto;
    }

    /*  */
    .job-list-item .left span {
        font-size: 11px;
    }

    .job-list-card {
        margin-top: 0px;
    }

    .bg-image-wrap.career {
        height: 50vh !important;
    }

    .career .bg-image-wrap {

        height: 50vh !important;
    }

    .career .bg-image {
        height: 50vh;
    }

    .career .overlay {
        height: 50vh;
    }


    /* grid */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .grid-item1 {
        grid-row: 1/1;
    }

    .grid-item3 {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .grid-item4 {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    .grid-casestudy .left_image {
        grid-row: 1/-1;

    }

    .mission_wrreaper img {
        height: auto;
    }

    /* grid */

    /* counter */
    .counters_1 {
        background-color: rgb(0 0 64 / 60%);
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .counterbgimg {

        background-size: 100% 100%;
    }

    .counterbgimg {

        background-size: 100% auto;
    }

    div#counters_1\  {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .slick-prev {
        left: 0px;

    }

    .slick-next {
        right: 0px;

    }


    .work .card a {
        width: 40%;
        /* margin-bottom: 20px; */
        left: 30%;
        top: 70px;
    }

    .work .card.right a {
        left: 40%;
        top: 70px;
    }

    .hire_team h2 br {
        display: none;
    }

    .xdsoft_datetimepicker .xdsoft_datepicker.active, .xdsoft_datetimepicker .xdsoft_timepicker.active {
        width: 100%;
    }

    .xdsoft_datetimepicker .xdsoft_datepicker.active+.xdsoft_timepicker {
        width: 100%;
        margin-top: 10px;
    }

    .xdsoft_datetimepicker .xdsoft_calendar table {
        height: auto;
    }

    .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
        height: 255px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }

    .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div {
        margin-bottom: 10px;
        width: 80%;
        margin: 0 auto;
    }

    .xdsoft_time_variant {
        margin-top: 1000px;
    }



    .index div.card_conatiner .card {
        height: 205px;

    }

    .socalmedeya {
        margin-top: 20px;
    }

    .px20 {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    /* card */
    .index div.card_conatiner .card, div.client_info2 {
        height: auto;
    }

    /* card */
    /* detpicker */
    .dateandtime .xdsoft_label {
        font-size: 20px !important;
    }

    .dateandtime h5 {
        font-size: 2rem !important;
    }

    .xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
        font-size: 20px;
    }

    .xdsoft_calendar thead tr th {
        font-size: 15px !important;
    }

    /* detpicker */

    .jobdetails .heading_top .details span {
        font-size: 1.1rem;
    }

    .details p {
        font-size: 1.1rem !important;
    }


    .details ul li {
        font-size: 1.1rem !important;
    }
}
