.heading_top {
    position: relative;
}
.share {
    position: relative;
    transition: all 1s ease-in-out;
}
.share span {
    height: 36px;
    width: 36px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    background-color: #000040;
    color: #fff;
    font-size: 16px;
    padding: 9px 13px;
    border-radius: 27px;
    margin-left: 20px;
}

.share .nav {
    position: absolute;
    width: max-content;
    opacity: 0;
    left: 19px;
    top: -4px;
    /* transition: all 0.3s ease-in-out; */
}

.share a {
    height: 16px;
    width: 16px;
    text-align: center;
    display: inline-block;
    /* background-color: #0000405c; */
    color: #f91d4e;
    transition: all 0.5s ease-in-out;
    box-shadow: 3px 1px 3px rgb(0 0 0 / 10%);
    border-radius: 50px;
    transform: rotate(90deg);
    line-height: 36px;
}
.share:hover .nav nav a {
    height: 36px;
    width: 36px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    color: #f91d4e;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 1px 3px rgb(249 29 78 / 27%);
    border-radius: 50px;
    transform: rotate(0deg);
    line-height: 36px;
    margin-right: 9px;
}

.share a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
}

.share a:nth-child(1):hover {
    background-color: #3b5998;
    transition: all 0.3s ease-in-out;
    color: #fff !important;
}

.share a:nth-child(2):hover {
    background-color: #0a66c2;
    transition: all 0.3s ease-in-out;
    color: #fff !important;
}

.share a:nth-child(3):hover {
    background-color: #0088cc;
    transition: all 0.3s ease-in-out;
    color: #fff !important;
}

.share a:nth-child(4):hover {
    background-color: #25d366;
    transition: all 0.3s ease-in-out;
    color: #fff !important;
}

.share a:nth-child(5) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
    transition: all 0.3s ease-in-out;
}

.share a:nth-child(5):hover {
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    color: #fff !important;
}

.share:hover .nav {
    left: 20px;
    top: -3px;
    width: max-content;
    height: 50px;
    opacity: 1;
    text-align: center;
    transition: all 1s ease-in-out;
    display: block;
}

.share:hover span {
    opacity: 0;
}
.share:hover span i {
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}
.share:hover span i {
    transform: rotate(90deg);
}
#share_button {
    /* overflow: hidden; */
}
@media only screen and (max-width: 991px) {
    .share span .fa-share-alt {
        font-size: 20px;
    }
    #share_button {
        position: absolute;
        right: 0%;
        /* background: rgba(255, 0, 0, 0.32); */
        /* z-index: -999; */
    }
    .share {
        margin-top: 90px;
        position: fixed;
        right: 16px;
        top: 0%;
        z-index: 9;
    }
    .share span {
        font-weight: 600;
        text-transform: uppercase;
        opacity: 1;
        font-size: 45px;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;
        background-color: #000040;
        color: #f91d4e;
        border-radius: 50px;
        position: relative;
        top: 26px;
        box-shadow: 3px 3px 3px #f91d4e57;
        right: 0;
        padding: 0;
        display: flex;
        text-align: center;
        line-height: 16px;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .share .nav {
        top: 32px;
        height: 20px;
        padding: 0;
        overflow: hidden;
        width: 20px;
        left: 50px;
    }
    .share:active .nav {
        left: 20px;
        top: -3px;
        width: max-content;
        height: 50px;
        opacity: 1;
        text-align: center;
        transition: all 1s ease-in-out;
        display: block;
    }
    .share:hover .nav {
        top: -7px;
    }
    .share:hover .nav {
        position: relative;
    }
    .sharea:hover span {
        top: -23px;
    }
    .share .nav nav {
        margin-right: 15px;
    }

    .share:hover span {
        opacity: 0;
        position: relative;
        top: 26px;
    }

    .share:hover .nav nav a {
        text-align: center;
        font-size: 20px;
        color: #fff;
        background: #000040;
        transition: all 0.3s ease-in-out;
        box-shadow: 3px 1px 3px #f91d4ef5;
        transform: rotate(0deg);
    }
    .share .nav nav a {
        background: #000040;
        transform: rotate(90deg);
    }
}
